
//Alert Properties

$alert-md-y:15px;
$alert-md-x:18px;
$alert-border-radius:3px;
$alert-margin-btm:10px;

/* ========================================================================== */
/* Alert Properties */
/* ========================================================================== */
.k-alert {
  font-size: rem($base-size);
  display: block;
  padding: em($alert-md-y,$base-size) em($alert-md-x,$base-size);
  border-radius: em($alert-border-radius,$base-size);
  position: relative;
  margin-bottom: em($alert-margin-btm,$base-size);
  border:$border-width solid transparent;
  @each $theme, $color in $theme-colors{
    &.k-#{$theme}{
      @include alert-color($color);
    }
  }
  .header{
    font-size:em(18px,$base-size);
    font-weight: 700;
    
  }
  .list{
    @include opacity(8);
    @extend %list-unstyle;
  }
}