//Base Size
$base-size : 16px;

//Sidebar width
$sidebar-width: 200px;

//Menubar Height
$topbar-height: 70px;
//Comp Colors
$border-color : #dddddd;

//
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");

//Required Colors
$white:    #fff !default;
$black:    #000 !default;

//gray colors variant
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

//Colors
$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

//Colors Hue
$colorHues: 50, 100, 200, 300, 400, 500, 600, 700, 800, 900, A100, A200, A400, A700;


//Theme Colors 
$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-300 !default;
$dark:          $gray-800 !default;

//Default properties
$transition-base:  all .2s ease-in-out !default;

$border-width: 1px !default;

$global-gutter:15px;

//Base Size
$base-size : 16px;

//Default Icon Size
$icon-md-size: 12px;





