

/* ========================================================================== */
/* Alert Color */
/* ========================================================================== */
@mixin alert-color($color){
    background-color: lighten($color,38%);
    color:darken($color,25%);
    border-color: lighten($color,23%);
    @include box-shadow(1);
}
